<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style2.css">
  <title>Home Page</title>
</head>
<body>
<div class="container">
  <div class="content">
    <h2>Welcome to TaskHub</h2>
    <div>
      <a href="/registration"><button>Register</button></a>
    </div>
  </div>
  <div class="blue-bg">
    <div class="blue-bg-content">
      <p>TaskHub is a platform for managing your tasks efficiently.</p>
    </div>
  </div>
</div>
</body>
</html>
